.board-wrapper {
    display: grid;
    margin-top: 8vh;
    margin-left: 155px;
    grid-template-columns: auto 1fr;
    grid-template-columns: auto 1fr;
    transition: margin-left 0.5s ease;
}

@media (max-width: 1000px) {
    .board-wrapper {
        margin-left: 35px;
    }
    .board{
        width: min(20vw, 1040px);
    }
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    aspect-ratio: 1 / 1; /* Ensure it's always a square */
    width: min(80vw, 1040px);
    gap: 0;
}

.cell {
    width: 100%; /* Take up full grid cell width */
    height: 100%; /* Take up full grid cell height */
    max-width: none; /* Remove fixed constraints */
    max-height: none;
    cursor: pointer;
}

.row-number-container {
    display: inline-flex;
    flex-direction: column;
    align-items: end;

    width: fit-content;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.row-number-container>.cell {
    cursor: default;
    text-align: end;
    
    align-content: center;
}

.col-char-container {
    display: inline-flex;
    width: min(80vw, 1040px);
    flex-direction: row;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.col-char-container>.cell {
    cursor: default;
    text-align: center;
}

.board>.cell:nth-child(1) {
    border-top-left-radius: 9px;
}

.board>.cell:nth-child(8) {
    border-top-right-radius: 9px;
}

.board>.cell:nth-child(57) {
    border-bottom-left-radius: 9px;
}

.board>.cell:nth-child(64) {
    border-bottom-right-radius: 9px;
}

.board>.cell:nth-child(16n+2),
.board>.cell:nth-child(16n+4),
.board>.cell:nth-child(16n+6),
.board>.cell:nth-child(16n+8),
.board>.cell:nth-child(16n+9),
.board>.cell:nth-child(16n+11),
.board>.cell:nth-child(16n+13),
.board>.cell:nth-child(16n+15) {
    background: rgba(58, 74, 165, 0.808);
}

.board>.cell:nth-child(16n+1),
.board>.cell:nth-child(16n+3),
.board>.cell:nth-child(16n+5),
.board>.cell:nth-child(16n+7),
.board>.cell:nth-child(16n+10),
.board>.cell:nth-child(16n+12),
.board>.cell:nth-child(16n+14),
.board>.cell:nth-child(16n+16) {
    background: rgb(255, 255, 255);
}